doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home
        link(href='afterlogin.css' rel='stylesheet')
    body
        div.logout
            a(href = 'logout') Logout
        div.welcome Welcome #{email}
        .container
            div
                a(href='/sportsget')
                    img(src='sports.jfif' alt='Sports' style='width:200px;height:200px;')
                p Sports
            div
                a(href='#')
                    img(src='dance.jfif' alt='dance' style='width:200px;height:200px;')
                p Dance
            div
                a(href='#')
                    img(src='medicine.jfif' alt='medicine' style='width:200px;height:200px;')
                p Medicine
            div
                a(href='#')
                    img(src='home.jfif' alt='home' style='width:200px;height:200px;')
                p Home          