doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sports
        link(href='sportpost.css' rel='stylesheet')
    body 
        .container
            .aboutsportscd
                h3 About Sports
            .imgpcontainer
                .img
                    img(src='qatarfootball.jfif' alt='medicine')
                    p FIFA WORLD CUP 2022
                .pstyle
                    p  Doha:  Coach Felix Sanchez expressed optimism on Saturday that the &ldquo;huge sacrifices&rdquo; his team had made to be tournament-ready would pay off as they had been working together for a long time for the hosts&rsquo; World Cup debut. In order to give the international players time to train collectively and participate in a number of friendlies  ahead of the World Cup, Qatar suspended its Stars League in September.That involved the players, who all feature in Qatar&rsquo;s domestic league, spending several weeks away from their families and Sanchez praised their commitment to improve as a squad together ahead of Sunday&rsquo;s Group A game against Ecuador. At Al Bayt Stadium, the South Americans will face the Qataris, who are competing in their first World Cup, before subsequent Group A matches against Senegal and the 2010 finalists Netherlands.&ldquo;Obviously everything we&rsquo;ve done in the past three years is to have a very competitive team in the World Cup. Every country&rsquo;s situation is different and we&rsquo;re a small country,&rdquo; Sanchez told reporters. Although they were the tournament&rsquo;s hosts by default, Qatar may have had one of the most thorough World Cup preparations of any team in the competition&rsquo;s history. Al Annabi embarked on a global tour in order to get ready for the first-ever World Cup after their stunning AFC Asian Cup victory in 2019.The first was a 2019 debut in the Copa America in Brazil, when they finished last in Group B behind teams like Argentina, Colombia, and Paraguay and failed to advance to the knockout stages. &ldquo;All our players play in the local league, so we decided one of the ways to strengthen the national team was to&mldr; make massive sacrifices and spend long periods abroad. &ldquo;This shows the commitment of our players. All the time spent abroad training and competing is for tomorrow, Nov. 20, so we can start the competition well.&rdquowill be playing in the global showpiece for the first time, but are hoping to replicate the form which saw them win the Asian Cup three years ago.&ldquo;We know that it will be a great challenge for us but we&rsquo;re very eager to play this match and are very happy to be here,&rdquo; added Sanchez.    